<html>
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/resources/dojo.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dijit/themes/tundra/tundra.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/base.css">


    <script
        src="https://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js"
        type="text/javascript"
        djConfig="parseOnLoad:true"
    ></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojox/grid/resources/Grid.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojox/grid/resources/tundraGrid.css">


    <script type="text/javascript">
        require(["dijit/layout/ContentPane",
                 "dojo/domReady!"], function(ContentPane) {
                     console.log('in!');
                     new ContentPane({
                         content: "<p>I am the targent</p>"
                     }, "targetz");
                     cp = dijit.byId("targetz");
                     cp.set("href", "/");
                     console.log("out");
                });
    </script>
</head>
<body class="tundra">
<h2>TeST!</h2>

<div data-dojo-type="dijit.layout.ContentPane">
    ugh.
</div>

<div id="targetz">target</div>

</body>
</html>
